{% extends 'base.html' %}

{% block title %}Lab Members{% endblock %}
{% block content_title %}Jay Lab Members{% endblock %}
{% block content %}
<p></p>
{% if lab_member_list %}
<table>
  <tr class="header">
    <td>Name</td>
    <td>Lab role</td>
    <td class="nowrap">Years in lab</td>
    <td>Current position</td>
  </tr>
  {% for lm in lab_member_list %}
    <tr class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
      <td class="nowrap">{{ lm.name_str }}</td>
      <td class="nowrap">{{ lm.trainee_type }}</td>
      <td class="nowrap">{{ lm.lab_years }}</td>
      <td class="">{{ lm.current_position }}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
  No lab members found!
{% endif %}
{% endblock %}
