{% extends 'base.html' %}
{% load mathfilters %}

{% block headers %}
{% endblock %}

{% block title %}CALI References{% endblock %}
{% block content_title %}CALI References{% endblock %}
{% block content %}
<p>Published studies that employ the use of or otherwise investigate chromophore-assisted 
light inactivation (CALI) are listed on this page. Where available, a link resolving the digital 
object identifier (DOI) for a publication, or a direct link to the paper on the 
publisher's website is provided.</p>
<p>Currently, there are a total number of <u>{{ collection_size }} CALI references</u>. 
Sorted by publication date, most recent first, references <u>{{ reference_index }} 
to {{ reference_index|sub:'25' }}</u> are listed below.</p>
<p> List references 
{% for offset in offset_list %}
  <a href="{% url 'offset' offset %}">
    {{ collection_size|sub:offset }} - 
    {% if collection_size|sub:offset <= 25 %}
      1</a>
    {% else %}
      {{ collection_size|sub:offset|sub:'24' }}</a>, 
    {% endif %}
  
{% endfor %}
</p>

{# make a table of references #}
<table>
  <tr class="header">
    <td>#</td>
    <td>Title & Authors</td>
    <td>Publication</td>
    <td>Year</td>
  </tr>
  {# for each individual reference, make a row, then print the title, make an author #}
  {# list, and article links, followed by information ont he journal and publication date #}
  {% for item in items %}
    {% if not item.parentItem %}
	  <tr class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
		<td>{{ reference_index|sub:forloop.counter0 }}</td>
		<td>
		  <b>{{ item.title }}</b><br />

		{% for creator in item.creators %}
		  {% if forloop.revcounter0 == 0 %}
			{% if forloop.first %}
			  {{ creator.lastName }}, {{ creator.firstName }}
			{% else %}
			  and {{ creator.lastName }}, {{ creator.firstName }}
			{% endif %}
		  {% else %}
			{{ creator.lastName }}, {{ creator.firstName }};
		  {% endif %}
		{% endfor %}<br />

		  {% if item.DOI %}
			[<a href="http://dx.doi.org/{{ item.DOI }}">DOI</a>]
		  {% endif %}
		  {% if item.url %}
			[<a href="{{ item.url }}">Publisher</a>]
		  {% endif %}

		</td>
		<td>
		{% if item.journalAbbreviation %}
		  {{ item.journalAbbreviation }}
		{% else %}
		  {{ item.publicationTitle }}
		{% endif %}
		</td>
		<td class="nowrap">{{ item.date }} </td>    
	  </tr>
    {% endif %}
  {% endfor %}
</table>

{% endblock %}
